# Code owners
.github/CODEOWNERS      @exercism/maintainers-admin

# Changes to `fetch_configlet.sh` should be made in the `exercism/configlet` repo
dev/scripts/fetch_configlet.sh     @exercism/maintainers-admin
