use nth_prime::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    let output = nth({{ test.input.number - 1 | fmt_num }});
    let expected = {{ test.expected | fmt_num }};
    assert_eq!(output, expected);
}
{% endfor -%}
