use scrabble_score::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | slugify | replace(from="-", to="_") }}() {
    let input = {{ test.input.word | json_encode() }};
    let output = {{ fn_names[0] }}(input);
    let expected = {{ test.expected | json_encode() }};
    assert_eq!(output, expected);
}
{% endfor -%}
