use pig_latin::*;

{% for test_group in cases %}
{% for test in test_group.cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    let input = {{ test.input.phrase | json_encode() }};
    let output = translate(input);
    let expected = {{ test.expected | json_encode() }};
    assert_eq!(output, expected);
}
{% endfor -%}
{% endfor -%}
