use leap::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | snake_case }}() {
{%- if test.expected %}
    assert!(is_leap_year({{ test.input.year }}));
{% else %}
    assert!(!is_leap_year({{ test.input.year }}));
{% endif -%}
}
{% endfor -%}
