use affine_cipher::*;

use affine_cipher::AffineCipherError::NotCoprime;

{% for test_group in cases %}
{% for test in test_group.cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    let phrase = {{ test.input.phrase | json_encode() }};
    let (a, b) = ({{ test.input.key.a }}, {{ test.input.key.b }});
    let output = {{ test.property }}(phrase, a, b);
    let expected = {% if test.expected is object -%}
        Err(NotCoprime({{ test.input.key.a }}))
    {%- else -%}
        Ok({{ test.expected | json_encode() }}.into())
    {%- endif %};
    assert_eq!(output, expected);
}
{% endfor -%}
{% endfor -%}
