use protein_translation::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | snake_case }}() {
    assert_eq!(
        translate({{ test.input.strand | json_encode() }}),
        {% if test.expected is object %}
            None
        {% else %}
            Some(vec![
                {% for s in test.expected %}
                    "{{ s }}" {% if not loop.last %} , {% endif %}
                {% endfor %}
            ])
        {% endif %},
    );
}
{% endfor -%}
