use protein_translation::*;

{% for test in cases %}
{# custom name_for tests are first, of_rna is supposed to build on it #}
{% if test.property != "name_for" %}{% continue %}{% endif %}
#[test]
#[ignore]
fn {{ test.description | snake_case }}() {
    let info = parse(make_pairs());
    assert_eq!(info.name_for({{ test.input.name | json_encode() }}), {{ test.expected }});
}
{% endfor -%}

{% for test in cases %}
{% if test.property != "proteins" %}{% continue %}{% endif %}
#[test]
#[ignore]
fn {{ test.description | snake_case }}() {
    let info = parse(make_pairs());
    assert_eq!(
        info.of_rna({{ test.input.strand | json_encode() }}),
        {% if test.expected is object %}
            None
        {% else %}
            Some(vec![
                {% for s in test.expected %}
                    "{{ s | lower }}" {% if not loop.last %} , {% endif %}
                {% endfor %}
            ])
        {% endif %},
    );
}
{% endfor -%}

// The input data constructor. Returns a list of codon, name pairs.
fn make_pairs() -> Vec<(&'static str, &'static str)> {
    let grouped = vec![
        ("isoleucine", vec!["AUU", "AUC", "AUA"]),
        ("valine", vec!["GUU", "GUC", "GUA", "GUG"]),
        ("phenylalanine", vec!["UUU", "UUC"]),
        ("methionine", vec!["AUG"]),
        ("cysteine", vec!["UGU", "UGC"]),
        ("alanine", vec!["GCU", "GCC", "GCA", "GCG"]),
        ("glycine", vec!["GGU", "GGC", "GGA", "GGG"]),
        ("proline", vec!["CCU", "CCC", "CCA", "CCG"]),
        ("threonine", vec!["ACU", "ACC", "ACA", "ACG"]),
        ("serine", vec!["UCU", "UCC", "UCA", "UCG"]),
        ("tyrosine", vec!["UAU", "UAC"]),
        ("tryptophan", vec!["UGG"]),
        ("glutamine", vec!["CAA", "CAG"]),
        ("asparagine", vec!["AAU", "AAC"]),
        ("histidine", vec!["CAU", "CAC"]),
        ("glutamic acid", vec!["GAA", "GAG"]),
        ("aspartic acid", vec!["GAU", "GAC"]),
        ("lysine", vec!["AAA", "AAG"]),
        ("arginine", vec!["CGU", "CGC", "CGA", "CGG", "AGA", "AGG"]),
        ("leucine", vec!["UUA", "UUG"]),
        ("stop codon", vec!["UAA", "UAG", "UGA"]),
    ];
    let mut pairs = Vec::<(&'static str, &'static str)>::new();
    for (name, codons) in grouped.into_iter() {
        for codon in codons {
            pairs.push((codon, name));
        }
    }
    pairs.sort_by(|&(_, a), &(_, b)| a.cmp(b));
    pairs
}
