use saddle_points::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    let input = &[{% for row in test.input.matrix %}
        vec!{{ row }},
    {% endfor %}];
    let mut output = find_saddle_points(input);
    output.sort_unstable();
    let expected = &[
        {% for p in test.expected | sort(attribute = "column") | sort(attribute = "row") %}
            ({{ p.row - 1 }}, {{ p.column - 1 }}),
        {% endfor %}
    ];
    assert_eq!(output, expected);
}
{% endfor -%}
