use perfect_numbers::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | slugify | replace(from="-", to="_") }}() {
    let input = {{ test.input.number | json_encode() }};
    let output = {{ fn_names[0] }}(input);
{%- if test.expected is object %}
    assert!(output.is_none());
{% else %}
    let expected = Some(Classification::{{ test.expected | title }});
    assert_eq!(output, expected);
{% endif -%}
}
{% endfor -%}
