use {{ crate_name }}::*;

{% for test in cases %}
#[test]
{% if loop.index != 1 -%}
#[ignore]
{% endif -%}
fn {{ test.description | slugify | replace(from="-", to="_") }}() {
    let factors = {{ fn_names[0] }}({{ test.input.value }});
    let expected = {{ test.expected | json_encode() }};
    assert_eq!(factors, expected);
}
{% endfor -%}
