use prime_factors::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    let factors = factors({{ test.input.value | fmt_num }});
    let expected = [{% for factor in test.expected -%}
        {{ factor | fmt_num }},
    {%- endfor %}];
    assert_eq!(factors, expected);
}
{% endfor -%}
