use sum_of_multiples::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | snake_case }}() {
    let factors = &{{ test.input.factors | json_encode() }};
    let limit = {{ test.input.limit | json_encode() }};
    let output = sum_of_multiples(limit, factors);
    let expected = {{ test.expected | json_encode() }};
    assert_eq!(output, expected);
}
{% endfor -%}
