use pangram::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    let sentence = {{ test.input.sentence | json_encode() }};
    {% if test.expected -%}
        assert!(is_pangram(sentence));
    {% else -%}
        assert!(!is_pangram(sentence));
    {% endif -%}
}
{% endfor -%}
