use raindrops::*;

{% for test in cases %}
#[test]
#[ignore]
fn test_{{ test.description | slugify | replace(from="-", to="_") }}() {
    let input = {{ test.input.number | json_encode() }};
    let output = raindrops(input);
    let expected = {{ test.expected | json_encode() }};
    assert_eq!(output, expected);
}
{% endfor -%}
