use pascals_triangle::PascalsTriangle;
{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    let pt = PascalsTriangle::new({{ test.input.count }});
    let expected: Vec<Vec<u32>> = vec![{% for row in test.expected -%}
        vec!{{ row | json_encode() }},
    {%- endfor %}];
    assert_eq!(pt.rows(), expected);
}
{% endfor -%}
