use atbash_cipher::*;

{% for group in cases %}
{% for test in group.cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    assert_eq!(
      {{ test.property }}("{{ test.input.phrase }}"),
      "{{ test.expected }}"
    );
}
{% endfor -%}
{% endfor -%}
