use collatz_conjecture::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    let output = collatz({{ test.input.number | fmt_num }});
    let expected = {% if test.expected is object %}
        None
    {% else %}
        Some({{ test.expected | json_encode() }})
    {% endif %};
    assert_eq!(output, expected);
}
{% endfor -%}
