use sublist::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    let list_one: &[i32] = &{{ test.input.listOne | json_encode() }};
    let list_two: &[i32] = &{{ test.input.listTwo | json_encode() }};
    let output = sublist(list_one, list_two);
    let expected = {% if test.expected == "equal" -%}
        Comparison::Equal
    {%- elif test.expected == "sublist" -%}
        Comparison::Sublist
    {%- elif test.expected == "superlist" -%}
        Comparison::Superlist
    {%- else -%}
        Comparison::Unequal
    {%- endif %};
    assert_eq!(output, expected);
}
{% endfor -%}
