use isogram::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    {% if test.expected %}
        assert!(check({{ test.input.phrase | json_encode() }}));
    {% else %}
        assert!(!check({{ test.input.phrase | json_encode() }}));
    {% endif %}
}
{% endfor -%}
