use rotational_cipher as cipher;
{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | slugify | replace(from="-", to="_") }}() {
    let text = {{ test.input.text | json_encode() }};
    let shift_key = {{ test.input.shiftKey | json_encode() }};
    let output = cipher::rotate(text, shift_key);
    let expected = {{ test.expected | json_encode() }};
    assert_eq!(output, expected);
}
{% endfor -%}
