use matching_brackets::brackets_are_balanced;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    assert!(
      {% if test.expected == false %}!{% endif %}
      brackets_are_balanced("{{ test.input.value | replace(from="\", to="\\") }}")
    );
}
{% endfor -%}
