use crate_name::*;

{%- for test in cases | recursive_flat_map(attribute="cases") %}

#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    let input = {{ test.input | json_encode() }};
    let output = function_name(input);
    let expected = {{ test.expected | json_encode() }};
    assert_eq!(output, expected);
}
{%- endfor -%}
