use isbn_verifier::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    {% if test.expected %}
    assert!(is_valid_isbn("{{ test.input.isbn }}"));
    {% else %}
    assert!(!is_valid_isbn("{{ test.input.isbn }}"));
    {% endif %}
}
{% endfor -%}
