use run_length_encoding as rle;

{% for test_group in cases %}
{% for test in test_group.cases %}
#[test]
#[ignore]
fn {{ test.property }}_{{ test.description | make_ident }}() {
    let input = {{ test.input.string | json_encode() }};
    {% if test.property == "consistency" -%}
        let output = rle::decode(&rle::encode(input));
    {%- else -%}
        let output = rle::{{ test.property }}(input);
    {%- endif %}
    let expected = {{ test.expected | json_encode() }};
    assert_eq!(output, expected);
}
{% endfor -%}
{% endfor -%}
