use {{ crate_name }}::*;

{% for test in cases %}
#[test]
{% if loop.index != 1 -%}
#[ignore]
{% endif -%}
fn test_{{ test.description | slugify | replace(from="-", to="_") }}() {
    let input = {{ test.input.number }};
    let output = {{ fn_names[0] }}(input);
    let expected = {{ test.expected | json_encode() }};
    assert_eq!(output, expected);
}
{% endfor -%}
