use bob::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    assert_eq!(reply({{ test.input.heyBob | json_encode() }}), "{{ test.expected }}");
}
{% endfor -%}
