use spiral_matrix::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | slugify | replace(from="-", to="_") }}() {
    let input = {{ test.input.size | json_encode() }};
    let output = {{ fn_names[0] }}(input);
    let expected: [[u32; {{ test.input.size }}]; {{ test.input.size }}] = [
        {% for i in test.expected %}
            {{ i | json_encode }},
        {% endfor %}
    ];
    assert_eq!(output, expected);
}
{% endfor -%}
