use spiral_matrix::*;

{% for test in cases %}
#[test]
#[ignore]
fn {{ test.description | make_ident }}() {
    let input = {{ test.input.size | json_encode() }};
    let output = spiral_matrix(input);
    let expected: [[u32; {{ test.input.size }}]; {{ test.input.size }}] = [
        {% for i in test.expected %}
            {{ i | json_encode }},
        {% endfor %}
    ];
    assert_eq!(output, expected);
}
{% endfor -%}
