name: CI

# Run this workflow every time a new commit is pushed to the repository
on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:
  schedule:
    # Weekly.
    - cron: "0 0 * * 0"

jobs:
  ensure-conventions:
    name: Ensure conventions are followed
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Ensure src/lib.rs files exist
        run: bash ./_test/ensure-lib-src-rs-exist.sh

      - name: Count ignores
        run: sh ./_test/count-ignores.sh

      - name: Check UUIDs
        run: sh ./_test/check-uuids.sh

      - name: Verify exercise difficulties
        run: ./_test/verify-exercise-difficulties.sh

      - name: Check exercises for authors
        run: ./_test/check-exercises-for-authors.sh

  configlet:
    name: configlet lint
    runs-on: ubuntu-latest

    steps:
      # Checks out default branch locally so that it is available to the scripts.
      - name: Checkout main
        uses: actions/checkout@v2
        with:
          ref: main

      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Fetch configlet
        run: ./bin/fetch-configlet

      - name: Lint configlet
        run: ./bin/configlet lint

  markdownlint:
    name: markdown lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main
        uses: actions/checkout@v2
        with:
          ref: main
      - name: Run markdown lint
      - uses: xt0rted/markdownlint-problem-matcher@v1
      - run: ./bin/markdown_lint.sh
  compilation:
    name: Check compilation
    runs-on: ubuntu-latest

    strategy:
      # Allows running the job multiple times with different configurations
      matrix:
        rust: ["stable", "beta"]
        deny_warnings: ['', '1']

    steps:
      # Checks out main locally so that it is available to the scripts.
      - name: Checkout main
        uses: actions/checkout@v2
        with:
          ref: main

      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          default: true

      # run scripts as steps
      - name: Check exercises
        env:
          DENYWARNINGS: ${{ matrix.deny_warnings }}
        run: ./_test/check-exercises.sh
        continue-on-error: ${{ matrix.rust == 'beta' && matrix.deny_warnings == '1' }}

      - name: Ensure stubs compile
        env:
          DENYWARNINGS: ${{ matrix.deny_warnings }}
        run: sh ./_test/ensure-stubs-compile.sh
        continue-on-error: ${{ matrix.rust == 'beta' && matrix.deny_warnings == '1' }}

      - name: Check exercise crate
        env:
          DENYWARNINGS: ${{ matrix.deny_warnings }}
        run: sh ./_test/check-exercise-crate.sh
        continue-on-error: ${{ matrix.rust == 'beta' && matrix.deny_warnings == '1' }}

  rustformat:
    name: Check Rust Formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true

      - name: Rust Format Version
        run: rustfmt --version

      - name: Format
        run: sh bin/format_exercises

      - name: Diff
        run: |
          if ! git diff --color --exit-code; then
            echo "Please run cargo fmt, or see the diff above:"
            exit 1
          fi

  clippy:
    name: Clippy
    runs-on: ubuntu-latest

    strategy:
      matrix:
        rust: ["stable", "beta"]

    steps:
      - name: Checkout main
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          default: true

      # Clippy already installed on Stable, but not Beta.
      # So, we must install here.
      - name: Install Clippy
        run: rustup component add clippy

      - name: Clippy tests
        env:
          CLIPPY: true
        run: ./_test/check-exercises.sh

      - name: Clippy stubs
        env:
          CLIPPY: true
        run: sh ./_test/ensure-stubs-compile.sh

  nightly-compilation:
    name: Check exercises on nightly (benchmark enabled)
    runs-on: ubuntu-latest
    continue-on-error: true # It's okay if the nightly job fails

    steps:
      # Checks out main locally so that it is available to the scripts.
      - name: Checkout main
        uses: actions/checkout@v2
        with:
          ref: main

      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          default: true

      - name: Check exercises
        env:
          BENCHMARK: '1'
        run: ./_test/check-exercises.sh
