use {{ crate_name }}::*;

{% for test in cases %}
#[test]
{% if loop.index != 1 -%}
#[ignore]
{% endif -%}
fn {{ test.description | slugify | replace(from="-", to="_") }}() {
    let robot = Robot::new({{ test.input.position.x }}, {{ test.input.position.y }}, Direction::{{ test.input.direction | title }});
{%- if test.property == "create" %}
    {#- noop -#}
{%- elif test.input.instructions == "R" %}
    let robot = robot.turn_right();
{%- elif test.input.instructions == "L" %}
    let robot = robot.turn_left();
{%- elif test.input.instructions == "A" %}
    let robot = robot.advance();
{%- else %}
    let robot = robot.instructions({{ test.input.instructions | json_encode() }});
{% endif -%}
    assert_eq!(robot.position(), ({{ test.expected.position.x }}, {{ test.expected.position.y }}));
    assert_eq!(robot.direction(), &Direction::{{ test.expected.direction | title }});
}
{% endfor -%}
